@keyframes primary-circle{
    0%{
        border-left: var(--line-width,4px) solid var(--loader-color-primary,#00f);
        border-top: var(--line-width,4px) solid var(--background-color,#fff);
        border-right: var(--line-width,4px) solid var(--background-color,#fff);
        border-bottom: var(--line-width,4px) solid var(--background-color,#fff);
    }
    25%{
        border-left: var(--line-width,4px) solid var(--loader-color-primary,#00f);
        border-top: var(--line-width,4px) solid var(--loader-color-primary,#00f);
        border-right: var(--line-width,4px) solid var(--background-color,#fff);
        border-bottom: var(--line-width,4px) solid var(--background-color,#fff);
    }
    50%{
        border-left: var(--line-width,4px) solid var(--loader-color-primary,#00f);
        border-top: var(--line-width,4px) solid var(--loader-color-primary,#00f);
        border-right: var(--line-width,4px) solid var(--loader-color-primary,#00f);
        border-bottom: var(--line-width,4px) solid var(--background-color,#fff);
    }
    100%{
        border-left: var(--line-width,4px) solid var(--loader-color-primary,#00f);
        border-top: var(--line-width,4px) solid var(--loader-color-primary,#00f);
        border-right: var(--line-width,4px) solid var(--loader-color-primary,#00f);
        border-bottom: var(--line-width,4px) solid var(--loader-color-primary,#00f);
    }
}
@keyframes secondary-circle{
    0%{
        transform: rotate(0deg);
        border-left: var(--line-width,4px) solid var(--background-color,#fff);
        border-top: var(--line-width,4px) solid var(--background-color,#fff);
        border-right: var(--line-width,4px) solid var(--background-color,rgba(0,0,0,0));
        border-bottom: var(--line-width,4px) solid var(--background-color,rgba(0,0,0,0));
    }
    50%{
        transform: rotate(180deg);
    }
    100%{

    }
}
.loader.growing-outline-circle{
    box-sizing:border-box;
    transform-origin: center center;
    position: relative;
    width: var(--loader-width,100px);
    height: var(--loader-height,100px);
    border-radius: 50%;
    animation: primary-circle var(--animation-duration,0.5s) infinite ease-out;
}
.loader.growing-outline-circle::after{
    transform-origin: center center;
    box-sizing: border-box;
    position: absolute;
    left:0px;
    top:0px;
    content: "";
    display: block;
    width: var(--loader-width,100px);
    height: var(--loader-height,100px);
    border-radius: 50%;
    animation: secondary-circle var(--animation-duration,0.5s) infinite ease-out;
}