@keyframes rect-rotate {
  0% {
    transform: rotate(0); 
  }
  50%, 100% {
    transform: rotate(360deg); 
  } 
}

@keyframes fill-rect {
  0%, 50% {
    height: 0px; 
  }
  100% {
    
    height: inherit; 
  } 
}

.loader.box-rotation {
  transform-origin: center center;
  color: var(--loader-color-primary, #33f);
  width: var(--loader-width, 100px);
  height: var(--loader-height, 100px);
  position: relative;
  border: var(--line-width, 4px) solid;
  display: inline-block;
  animation: rect-rotate var(--animation-duration, 1s)  linear infinite; 
}

.loader.box-rotation::after {
  content: "";
  height: 0px;
  width: 100%;
  height:100%;
  display: block;
  background: var(--loader-color-primary, #33f);
  opacity: 0.5;
  animation: fill-rect var(--animation-duration, 1s) linear infinite; 
}
