@keyframes bounce {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(0, var(--bounce-height, 20px), 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes shadow{
    0% {
        transform: translate3d(0, 0, 0);
        box-shadow: 0px 0px 4px 2px var(--loader-color-secondary, #666);
    }
    50% {
        transform: translate3d(0, -var(--bounce-height, 20px), 0);
        box-shadow: 0px 0px 4px 10px var(--loader-color-secondary, #666);
    }
    100% {
        transform: translate3d(0, 0, 0);
        box-shadow: 0px 0px 4px 2px var(--loader-color-secondary, #666);
    }
}
.loader.bouncing-circle {
    --bounce-height: calc(var(--loader-height, 100px) / 5);
    position: relative;
    perspective: calc(var(--loader-width, 100px) * 3);
    border-radius: 50%;
    width: var(--loader-width, 100px);
    height: var(--loader-height, 100px);
    background-color: var(--loader-color-primary, #00f);
    background: radial-gradient(circle at calc(var(--loader-width, 100px) / 3) calc(var(--loader-width, 100px) / 3), var(--loader-color-primary, #00f), #000);
    animation: bounce var(--animation-duration, 1s) infinite ease-in-out;
}
.loader.bouncing-circle::after{
    content: "";
    display: block;
    width: 6px;
    height: 3px;
    position: absolute;
    border-radius: 50%;
    top: calc(var(--loader-height, 100px) + 10px);
    left: calc((var(--loader-width,100px) / 2) - 3px);
    background-color: var(--loader-color-secondary, #666);
    animation: shadow var(--animation-duration, 1s) infinite ease-in-out;
}