@keyframes rotateplane {
  0% {
    transform: perspective(var(--perspective-value)) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(var(--perspective-value)) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(var(--perspective-value)) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.spinner.rotating-plane {
  --perspective-value: calc(3 * var(--spinner-width,100px));
  width: var(--spinner-width,100px);
  height: var(--spinner-height,100px);
  background: var(--spinner-color-primary,#00f);
  animation: rotateplane var(--animation-duration,0.5s) infinite ease-in-out;
}