.loader.double-circle {
    position: relative;
    width: var(--loader-width, 100px);
    height: var(--loader-height, 100px);
}

.double-circle::before,
.double-circle::after{
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    border: var(--line-width, 4px) solid transparent;
    border-bottom-color: var(--loader-color-primary, #33f);
    animation: circle-loader var(--animation-duration, 1s) infinite linear ;
}

.double-circle::before{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.double-circle::after{
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    top: 6px;
    left: 6px;
    animation-direction: reverse;
}