  @keyframes block-spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

.loader.block-spin {
    height: var(--loader-height, 100px);
    width: var(--loader-width, 100px);
    position: relative;
    border-radius: 60px;
    border: var(--line-width, 4px) solid;
    color: var(--loader-color-primary, #33f);
    border-left-color: transparent;
    border-top-color: transparent;
    animation: block-spin var(--animation-duration, .8s)  linear infinite;
    
  }
  
  .loader.loader.block-spin:after {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    top: var(--loader-offset, 50%);
    left: var(--loader-offset, 50%);
    border-radius: 60px;
    border: var(--line-width, 4px) solid;
    color: var(--loader-color-primary, #33f);
    margin-top: -15px;
    margin-left: -15px;
  }
