@keyframes circle-spinner{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.spinner.circle{
    transform-origin: center center;
    /* Change the pixel amount to change the width of the spinner */
    border: var(--line-width,4px) solid var(--spinner-color-primary,#33f);
    border-right: var(--line-width,4px) solid var(--spinner-color-secondary,#fff);
    /* Change the pixel amount to change the width of the spinner */
    width:var(--spinner-width,100px);
    height:var(--spinner-height,100px);
    border-radius: 50%;
    animation: circle-spinner var(--animation-duration,0.5s) infinite ease-out;
}