@keyframes bounce{
    0%{
      transform: translate3d(0, 0, 0);
    }
    50%{
      transform: translate3d(0, var(--bounce-height, 20px), 0);
    }
    100%{
      transform: translate3d(0, 0, 0);
    }
}

.spinner.bouncing-circle{
    --bounce-height: calc(var(--spinner-height,100px) / 5);
    width: var(--spinner-width, 100px);
    height: var(--spinner-height, 100px);
    border-radius: 50%;
    background-color: var(--spinner-color-primary,#00f);
    animation: bounce var(--animation-duration, 0.5s) infinite ease-in-out;
}
