@keyframes rotateplane {
    0% {
        transform: perspective(var(--perspective-value)) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: perspective(var(--perspective-value)) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        transform: perspective(var(--perspective-value)) rotateX(-180deg) rotateY(-179.9deg);
    }
}

.loader.rotating-plane {
    --perspective-value: calc(3 * var(--loader-width, 100px));
    width: var(--loader-width, 100px);
    height: var(--loader-height, 100px);
    background: var(--loader-color-primary, #00f);
    animation: rotateplane var(--animation-duration, 1s) infinite ease-in-out;
}