@keyframes blast-ripple {
    0% {
        top: calc(var(--spinner-width, 100px) / 2 - var(--line-width, 4px));
        left: calc(var(--spinner-width, 100px) / 2 - var(--line-width, 4px));
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: -1px;
        left: -1px;
        width: calc(var(--spinner-width, 100px) - var(--line-width, 4px));
        height: calc(var(--spinner-width, 100px) - var(--line-width, 4px));
        opacity: 0;
    }
}

.ripple.blasting-ripple {
    display: inline-block;
    position: relative;
    width: var(--spinner-width, 100px);
    height: var(--spinner-width, 100px);
}

.ripple div {
    position: absolute;
    border: var(--line-width, 4px) solid var(--spinner-color-primary, #00f);
    opacity: 1;
    border-radius: 50%;
    animation: blast-ripple var(--animation-duration, 0.5s) cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.ripple div:nth-child(2) {
    animation-delay: -0.5s;
}