@media screen and (max-width:450px){
    :root{
        --side-margin: 20px;
    }
    .header{
        padding: var(--side-margin, 60px);
    }
    .controls{
        position: relative;
    }
    .logo{
        height: 30px;
    }
    .source{
        padding: 5px;
        height: 80vh;
        width: 90vw;
    }
}