*{
	margin: 0;
	padding: 0;
}
:root{
    --side-margin: 60px;
}
body{
	font-family: sans-serif;
}
.header{
    box-sizing: border-box;
    padding: 40px var(--side-margin, 60px);
}
.logo{
    height: 50px;
}
.badges{
    margin-top: 1em;
}
.instruction{
    padding: 0.2em 0.5em;
    display: inline-block;
    background: #222;
    color: #fff;
    border-radius: 0.2em;
    margin-top: 1em;
}
.usage-instructions{
    margin-top: 1em;
    font-size: 0.9em;
    color: #333;
}
.container{
	padding:10px;
}
.footer{
    padding: 40px var(--side-margin, 60px);
}
.loader{
	display: inline-block;
	margin: var(--side-margin,60px);
	cursor: pointer;
	background: #fff;
}
.loaders{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.sourceholder{
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	position: fixed;
	background: rgba(0,0,0,0.5);
	display: none;
	z-index: 10000;
	align-items: center;
	justify-content: center;
}	
.source{
	width:70vw;
	height:70vh;
	background-color: #2980b9;
	padding:20px;
	z-index: 30000;
	border-radius:4px;
	display: flex;
	flex-direction: column;
	overflow:hidden;
	z-index:10000;
}
.source div{
	color: white;
	padding: 5px;
}
.source .scroll-code{
	flex:1;
	overflow: scroll;
}
code.html-code,code.actual-code{
	background: #222;
	display: block;
	overflow: scroll;
	color: #fff;
	padding: 10px;
	border-radius: 3px;
	font-size: 12px;
	margin: 0;
}
.controls{
	position: fixed;
	right: 0px;
	padding: 10px;
	top: 0px;
	background: #fff;
	z-index: 4000;
}
.control{
	display: flex;
	height: 1.3em;
	padding: 0.3em;
	align-items: center;
}
.control:nth-child(2n){
	background-color: #eee;
}
.control span{
	flex: 1;
}
.internalloader{
	--animation-duration: 1s;
	background: transparent !important;
	pointer-events: none;
}
.loadingindicator{
	display: none;
	position: fixed;
	top:0px;
	left:0px;
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	z-index: 30000;
	align-items: center;
	justify-content: center;
}