@keyframes recursive-circle {
    0% {
      transform: rotate(0); 
    }
    100% {
      transform: rotate(360deg); 
    } 
}

.loader.recursive-circle {
    --loader-offset: calc((var(--loader-width,100px) / 4) - (var(--line-width,4px) / 2));
    height: var(--loader-height, 100px);
    width: var(--loader-width, 100px);
    color: var(--loader-color-primary, #33f);
    display: inline-block;
    position: relative;
    border: var(--line-width, 4px) solid;
    border-radius: 50%;
    border-top-color: transparent;
    transform-origin: center center;
    animation: recursive-circle var(--animation-duration, 1s)  linear infinite;
}
.loader.recursive-circle::after {
      content: "";
      height: 50%;
      width: 50%;
      display: block;
      box-sizing: border-box;
      position: absolute;
      top: var(--loader-offset,21px);
      left: var(--loader-offset,21px);
      border: var(--line-width, 4px) solid;
      transform-origin: center center;
      border-radius: 50%;
      border-top-color: transparent;
      animation: recursive-circle calc(var(--animation-duration, 1s) / 2)  linear infinite reverse; 
    }
  