.spinner.clock {
    position: relative;
    width: var(--spinner-width, 100px);
    height: var(--spinner-height, 100px);
    border-radius: 50%;
    border: var(--line-width, 4px) solid var(--spinner-color-primary, #33f);
}

.clock::before{
    content: '';
    position: absolute;
    top: 8px;    
    left: calc(50% - 2px);
    background: var(--spinner-color-primary, #33f);
    width: 4px;
    height: calc( 50% - 8px );
    border-radius: 5px;
    transform-origin: 50% 100%;
    animation: circle-spinner 1.2s infinite linear ;
}