@keyframes circle-loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader.circle {
    transform-origin: center center;
    /* Change the pixel amount to change the width of the loader */
    border: var(--line-width, 4px) solid var(--loader-color-primary, #33f);
    border-right: var(--line-width, 4px) solid var(--loader-color-secondary, #fff);
    /* Change the pixel amount to change the width of the loader */
    width: var(--loader-width, 100px);
    height: var(--loader-height, 100px);
    border-radius: 50%;
    animation: circle-loader var(--animation-duration, 0.5s) infinite ease-out;
}