.spinner.box-rotation {
  color: #1b5e20;
  height: 70px;
  width: 70px;
  margin: 25px 80px 95px 120px;
  margin-left: 130px;
  position: relative;
  border: 4px solid;
  display: inline-block;
  animation: rect-rotate 1.2s  linear infinite; 
}

.spinner.box-rotation::after {
  content: '';
  height: 0;
  width: inherit;
  display: block;
  background: #a5d6a7;
  animation: fill-rect 1.2s linear infinite; 
}

@keyframes rect-rotate {
  0% {
    transform: rotate(0); 
  }
  50%, 100% {
    transform: rotate(360deg); 
  } 
}

@keyframes fill-rect {
  0%, 50% {
    height: 0; 
  }
  100% {
    
    height: inherit; 
  } 
}