@keyframes grow-and-shrink {

    0%,
    80%,
    100% {
        transform: translateY(0);
        box-shadow: 0 0 var(--loader-color-primary);
    }

    40% {
        transform: translateY(calc(var(--loader-height) * 0.125));
        box-shadow: 0 calc(var(--loader-height) * -0.25) var(--loader-color-primary);
    }
}

.loader.cascading-bars,
.loader.cascading-bars::before,
.loader.cascading-bars::after {
    display: block;
    position: relative;
    content: "";
    width: calc(var(--loader-width)/4);
    height: var(--loader-height);
    background: var(--loader-color-primary);
}

.loader.cascading-bars {
    top: 0;
    animation: grow-and-shrink calc(var(--animation-duration)/3) ease-in-out infinite;
    animation-delay: calc(var(--animation-duration) * 0.083);
}

.loader.cascading-bars::before {
    position: absolute;
    top: 0;
    left: calc(-0.35 * var(--loader-width));
    animation: grow-and-shrink calc(var(--animation-duration)/3) ease-in-out infinite;
}

.loader.cascading-bars::after {
    position: absolute;
    top: 0;
    left: calc(0.35 * var(--loader-width));
    animation: grow-and-shrink calc(var(--animation-duration)/3) ease-in-out calc(var(--animation-duration)/6) infinite;
    animation-delay: calc(var(--animation-duration) * 0.167);
}