/*
    Blasting Ripple Styles
*/
@keyframes blast-ripple {
    0% {
        top: calc(var(--loader-height, 100px) / 2 - var(--line-width, 4px));
        left: calc(var(--loader-width, 100px) / 2 - var(--line-width, 4px));
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: -1px;
        left: -1px;
        width: calc(var(--loader-width, 100px) - var(--line-width, 4px));
        height: calc(var(--loader-height, 100px) - var(--line-width, 4px));
        opacity: 0;
    }
}

.loader.blasting-ripple {
    position: relative;
    width: var(--loader-width, 100px);
    height: var(--loader-height, 100px);
}

.loader.blasting-ripple::after {
    opacity: 0;
    content: "";
    position: absolute;
    border: var(--line-width, 4px) solid var(--loader-color-primary, #00f);
    opacity: 1;
    border-radius: 50%;
    animation: blast-ripple var(--animation-duration, 1s) cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loader.blasting-ripple::before {
    opacity: 0;
    top: calc(var(--loader-height, 100px) / 2 - var(--line-width, 4px));
    left: calc(var(--loader-width, 100px) / 2 - var(--line-width, 4px));
    content: "";
    position: absolute;
    border: var(--line-width, 4px) solid var(--loader-color-primary, #00f);
    opacity: 1;
    border-radius: 50%;
    animation: blast-ripple var(--animation-duration, 1s) cubic-bezier(0, 0.2, 0.8, 1) infinite;
    animation-delay: calc(var(--animation-duration,1s) / 2);
}